<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div style="margin: 30px; display: flex">
      <div style="float: left; width: 45%; height: auto">
        <h1>Enter your details</h1>

        <input type="text" name="name" id="name" placeholder="Name" style="width: 50%;">
      </div>
      <div style="float: right; width: 45%; height: auto; margin: 10px; text-align:center">
        <br />
        <div id="webcam-container"></div>
        <div id="banner" style="display: none">INPUT IS A YES LETS ROLL</div>
        <br>
        <p id="action"></p>
        <div id="progressbar" class='cp-spinner  cp-round' style="display: none;"></div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.3.1/dist/tf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@teachablemachine/image@0.8/dist/teachablemachine-image.min.js"></script>
    
    <script type="text/javascript">

      const URL = "./models/";
      const resultDiv = document.getElementById("banner");
      let model, webcam, labelContainer, maxPredictions;
      const progress = document.getElementById('progressbar')
      function runSpeechRecognition() {
        // get output div reference
        // get action element reference
        var action = document.getElementById("action");
            // new speech recognition object
            console.log('ivide ethy')
           /*
            var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;
            var recognition = new SpeechRecognition();
        
            recognition.onstart = function() {
                action.innerHTML = "listening, please speak...";
            };
            
            recognition.onspeechend = function() {
                action.innerHTML = "stopped listening, hope you are done...";
                recognition.stop();
            }
          
            // This runs npmwhen the speech recognition service returns result
            recognition.onresult = function(event) {
                console.log('theernnu')
                action.innerHTML = "";
                var transcript = event.results[0][0].transcript;
                var confidence = event.results[0][0].confidence;
                document.activeElement.innerHTML = transcript;
            };
          
             // start recognition
             recognition.start();
             */
      }
      
      // Load the image model and setup the webcam
      async function init() {
        const modelURL = URL + "model.json";
        const metadataURL = URL + "metadata.json";

        // load the model and metadata
        // Refer to tmImage.loadFromFiles() in the API to support files from a file picker
        // or files from your local hard drive
        // Note: the pose library adds "tmImage" object to your window (window.tmImage)
        model = await tmImage.load(modelURL, metadataURL);
        maxPredictions = model.getTotalClasses();

        // Convenience function to setup a webcam
        const flip = true; // whether to flip the webcam
        webcam = new tmImage.Webcam(500, 500, flip); // width, height, flip
        await webcam.setup(); // request access to the webcam
        await webcam.play();
        window.requestAnimationFrame(loop);

        // append elements to the DOM
        document.getElementById("webcam-container").appendChild(webcam.canvas);
        //labelContainer = document.getElementById("label-container");
        //for (let i = 0; i < maxPredictions; i++) {
          // and class labels
          //labelContainer.appendChild(document.createElement("div"));
        //}
      }
      var timeouts = []
      async function loop() {
        webcam.update(); // update the webcam frame
        const action = await predict();
        window.requestAnimationFrame(loop);
        if (action == 1) {
          //action if hand is there
          //resultDiv.style.display = "block";
          progress.style.display ='inline-block'
          //progress.style.width = "100%";
          timeouts.push(setTimeout(() => {
            if (action == 1) {
              console.log('Print stuff')
              runSpeechRecognition();
              for (var i=0; i<timeouts.length; i++) {
                clearTimeout(timeouts[i]);
              }
            }
          },3000));
        } else {
          //action is there is no hand
          //resultDiv.style.display = "none";
          progress.style.display ='none'
          for (var i=0; i<timeouts.length; i++) {
            clearTimeout(timeouts[i]);
          }
        }
      }

      // run the webcam image through the image model
      async function predict() {
        // predict can take in an image, video or canvas html element
        const prediction = await model.predict(webcam.canvas);
        for (let i = 0; i < maxPredictions; i++) {
          const classPrediction =
            prediction[i].className +
            ": " +
            prediction[i].probability.toFixed(2);
          //labelContainer.childNodes[i].innerHTML = classPrediction;
        }
        // console.log(prediction[1]['probability'])
        return prediction[1]["probability"];
      }
    </script>
    <script defer>
      init();
    </script>
  </body>
</html>
