<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div style="margin: 30px; text-align:center">
        <h1>Welcome</h1>
        <h2>Choose a mode</h2>
        <button id="normalMode" class="outline" style="font-size: larger;">Normal Mode</button><br>
        <button id="adminMode" class="outline" style="font-size: larger;">Admin Mode</button>
    </div>
    <script>
        const { ipcRenderer: ipc, remote } = require("electron");

        const normalButton = document.getElementById('normalMode');
        const adminButton = document.getElementById('adminMode');

        normalButton.addEventListener('click',()=>{
            ipc.send("normal-mode", {
                type: "info",
              });
        });
        adminButton.addEventListener('click',()=>{
            ipc.send("admin-mode", {
                type: "info",
              });
        });
    </script>
  </body>
</html>
